{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>BIENVENIDO A LA PLANTILLA STANDALONE</h1>

        <h2>Esta plantilla esta creada para visualizarla sin la ejecucion de ningun controlador</h2>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: rgb(252, 174, 174);
    }
</style>
{% endblock %}